<br />
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: black;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="color:white;">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
              <fa-icon [icon]="['fab', 'facebook-square']" class="white-text mr-4"></fa-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
              <fa-icon [icon]="['fab', 'twitter']" class="white-text mr-4"></fa-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
              <fa-icon [icon]="['fab', 'google']" class="white-text mr-4"></fa-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
              <fa-icon [icon]="['fab', 'linkedin']" class="white-text mr-4"></fa-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
              <fa-icon [icon]="['fab', 'instagram']" class="white-text mr-4"></fa-icon>
          </a>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Test Global Sdn Bhd</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <span><br />
          B2-8-25 Desa Mentari <br />
          Jalan Pjs 6/5g<br />
          46000 Petaling Jaya <br />
          Selangor, Malaysia.
        </span>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Product 1</a>
        </p>
        <p>
          <a href="#!">Product 2</a>
        </p>
        <p>
          <a href="#!">Product 3</a>
        </p>
        <p>
          <a href="#!">Product 4</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Your Account</a>
        </p>
        <p>
          <a href="#!">Become an Affiliate</a>
        </p>
        <p>
          <a href="#!">Shipping Rates</a>
        </p>
        <p>
          <a href="#!">Help</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <span>
          <br />
          Tel :+6 03 8023 XXXX
          <br />
          Fax:+6 03 8023 XXXX
          <br />
          Tollfree:+ 1 300 22 XXXX
        </span>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2019 Copyright:
    <a href="#"> Test Global Sdn Bhd</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->