<div class="d-block" style="border:1px solid white;">
  <div class="d-inline-block h-sign-up">Sign Up</div>
  <div class="d-inline-block" style="float:right;" (click)="openlogin()"><button mat-button>Login</button></div>
</div>
<div style="margin-top:50px;"></div>
<div class="container-fluid">
  <div class="row">
    <div [ngClass]="signupclass" class="d-none d-md-block" style="padding-top:100px;">
      <img src="./assets/images/logo.png" class="offset-md-3 col-md-6">
      <img src="./assets/images/marketplace.png" class="offset-md-2 col-md-8">
    </div>
    <div [ngClass]="signupclass">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Name </mat-label>
        <input matInput placeholder="Username">
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Email Address">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Phone</mat-label>
        <input type="password" matInput placeholder="Number Phone">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-6" style="padding-left:0px;">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password">
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="col-6" style="padding-right:0px;">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Confirm Password " >
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>
      <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12 text-center text-black padding-bottom-10">
          By signing up, you agree to Ilike<br><a href="">Terms of Service</a> &amp; <a href="">Privacy Policy</a>
        </div>
      <div style="float:right; text-align: right; padding:0px; margin:0px;" class="col-12">
        <button mat-button mat-dialog-close style=" margin:5px;">Cancel</button>
        <button mat-raised-button color="warn" style=" margin-top:5px;">Sign Up</button>
        <button mat-button class="col-12 btn-fb" style=" margin-top:5px;">
          <fa-icon [icon]="['fab', 'facebook-f']"></fa-icon> FACEBOOK
        </button>
        <button mat-button class="col-12 btn-gplus" style=" margin-top:5px;">
          <fa-icon [icon]="['fab', 'google-plus']"></fa-icon> GOOGLE +
        </button>
      </div>
    </div>
  </div>
</div>